<div class="bg-black">
  <div
    class="container d-lg-flex justify-content-lg-between align-items-center flex-lg-row flex-column py-lg-14 py-11"
  >
    <div class="mb-10">
      <img src="/assets/images/index/LOGO.png" alt="logo" class="mb-10" />
      <ul class="list-unstyled d-lg-flex">
        <li class="text-light me-lg-9 mb-4 mb-lg-0">
          <a href="#">常見問題</a>
        </li>
        <li class="text-light me-lg-9 mb-4 mb-lg-0">
          <a href="#">關於我們</a>
        </li>
        <li class="text-light me-lg-9 mb-4 mb-lg-0">
          <a href="#">隱私權政策</a>
        </li>
        <li class="text-light"><a href="#">使用者條款</a></li>
      </ul>
    </div>
    <div>
      <div class="mb-5">
        <a href="#"
          ><i
            class="bi bi-line text-light fs-16 me-5 p-4 rounded-circle mb-5"
          ></i
        ></a>
        <a href="#"
          ><i
            class="bi bi-youtube text-light fs-16 me-5 p-4 rounded-circle"
            style="width: 16px; height: 16px"
          ></i
        ></a>
        <a href="#"
          ><i class="bi bi-facebook text-light fs-16 p-4 rounded-circle"></i
        ></a>
      </div>
      <p class="mt-5" style="color: #d4d4d4">
        copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.
      </p>
    </div>
  </div>
</div>
