<nav class="navbar bg-white py-4 py-lg-5 fixed-top">
  <div class="container position-relative">
    <div class="d-flex align-items-center me-auto">
      <a class="navbar-brand p-0 me-lg-7" href="#">
        <img src="/assets/images/LOGO.png" alt="index" />
      </a>
      <form class="position-relative d-none d-lg-block">
        <span
          class="material-icons-outlined position-absolute top-50 start-0 translate-middle-y ps-4 text-neutral-60"
        >
          search
        </span>
        <input
          type="search"
          class="form-control rounded-3 py-2 py-lg-3 ps-10"
          id="nav-lg-search"
          placeholder="搜尋景點、地點或城市"
          style="width: 400px"
        />
      </form>
    </div>

    <div class="position-absolute z-1 start-0 end-0 px-4 bg-white">
      <div class="collapse" id="collapseExample">
        <div class="d-flex align-items-center">
          <form class="position-relative w-100">
            <span
              class="material-icons-outlined position-absolute top-50 start-0 translate-middle-y ps-4 text-neutral-60"
            >
              search
            </span>
            <input
              type="search"
              class="form-control rounded-3 py-2 ps-10"
              id="exampleFormControlInput1"
              placeholder="搜尋景點、地點或城市"
            />
          </form>
          <button type="button " class="btn p-2 border-0">
            <span
              class="material-icons-outlined align-bottom"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
            >
              close
            </span>
          </button>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn p-2 border-0 d-lg-none"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
    >
      <span class="material-icons-outlined align-bottom"> search </span>
    </button>
    <a href="#" class="btn border-0 py-2">
      <span class="position-relative">
        <span class="material-icons-outlined align-bottom">
          shopping_cart
        </span>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-alert p-0"
          style="width: 16px; height: 16px; line-height: 1.3333"
        >
          2
        </span>
      </span>
    </a>
    <!-- LOGIN -->
    <a
      type="button"
      href="#"
      class="btn text-white bg-primary ms-5 d-none d-lg-block py-5 px-9 fw-semibold rounded-4"
      >登入 / 註冊</a
    >
    <!-- Modal 按鈕 -->
    <!-- <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      打開 modal
    </button> -->

    <!-- Modal 元件 -->
    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div> -->
    <button
      class="btn border-0 p-2 d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="material-icons-outlined align-bottom"> menu </span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
