<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="banner">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <h2
                class="fs-16 fs-lg-6 fw-bold text-primary bg-primary-10 rounded-3 p-2 p-lg-5 d-inline-block mb-4"
              >
                ZOBAA 旅行推薦平台
              </h2>
              <h1 class="d-lg-flex fs-3 fs-lg-72 fw-bold text-primary">
                <p class="mb-1 mb-lg-7">用旅行，</p>
                <p class="mb-2">收藏世界的樣子</p>
              </h1>
              <p class="text-primary-80 fs-14 fs-lg-6 fw-bold mb-7 mb-lg-10">
                ZOBAA
                整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。
              </p>
              <div class="search-form">
                <form class="position-relative">
                  <span
                    class="material-icons-outlined position-absolute top-50 start-0 translate-middle-y ps-2 text-neutral-60"
                  >
                    search
                  </span>
                  <div class="me-2">
                    <button
                      type="button"
                      class="text-white bg-primary py-4 px-5 rounded-4 position-absolute top-50 end-0 translate-middle-y me-2"
                    >
                      開始探索旅程
                    </button>
                  </div>

                  <input
                    type="search"
                    class="form-control rounded-3 px-2 py-6 py-lg-6 ps-10"
                    id="nav-lg-search"
                    placeholder="搜尋景點、地點或城市"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
