<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="banner">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <h2
                class="fs-16 fs-lg-6 fw-bold text-primary bg-primary-10 rounded-3 p-2 p-lg-5 d-inline-block mb-4"
              >
                ZOBAA 旅行推薦平台
              </h2>
              <h1 class="d-lg-flex fs-3 fs-lg-72 fw-bold text-primary">
                <p class="mb-1 mb-lg-7">用旅行，</p>
                <p class="mb-2">收藏世界的樣子</p>
              </h1>
              <p class="text-primary-80 fs-14 fs-lg-6 fw-bold mb-7 mb-lg-10">
                ZOBAA
                整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。
              </p>
              <div class="search-form">
                <form class="position-relative">
                  <span
                    class="material-icons-outlined position-absolute top-50 start-0 translate-middle-y ps-2 text-neutral-60"
                  >
                    search
                  </span>
                  <div class="me-2">
                    <button
                      type="button"
                      class="text-white bg-primary py-4 px-5 rounded-4 position-absolute top-50 end-0 translate-middle-y me-2"
                    >
                      開始探索旅程
                    </button>
                  </div>

                  <input
                    type="search"
                    class="form-control rounded-3 px-2 py-6 py-lg-6 ps-10"
                    id="nav-lg-search"
                    placeholder="搜尋景點、地點或城市"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="recommendation py-10">
        <div
          class="container text-white d-lg-flex justify-content-lg-between align-items-lg-center mb-10 mb-lg-11"
        >
          <h3 class="mb-7 fs-lg-72 mb-lg-0">
            你的<br />
            專屬推薦
          </h3>
          <div>
            <p class="mb-4 mb-lg-7 fs-14 fs-lg-6 fw-bold">
              來看我們的精選推薦行程，滿意度高達 99.2%<br />
              給自己一個難忘的旅遊行程吧！
            </p>
            <a href="#" class="fs-14 fs-lg-16 fw-bold"
              >查看全部行程<span
                class="material-icons-outlined align-bottom ms-2"
              >
                arrow_forward
              </span></a
            >
          </div>
        </div>
        <div class="container d-flex gap-5 overflow-x-auto">
          <div class="card text-bg-dark rounded-5 overflow-hidden">
            <img
              src="/assets/images/index/recommend.png"
              class="card-img h-100"
              alt="recommend"
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end flex-shrink-0 flex-lg-shrink-1"
            >
              <h4 class="fs-4 fw-bold mb-2">峇里島渡假漫遊</h4>
              <p class="fs-14 fw-regular mb-7">
                精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
              </p>
              <button
                type="button"
                class="btn btn-light d-flex justify-content-between rounded-pill"
              >
                <span class="fs-16 fw-bold">訂購行程</span>
                <span class="material-icons-outlined"> arrow_forward </span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden">
            <img
              src="/assets/images/index/recommend-1.png"
              class="card-img h-100"
              alt="..."
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end flex-shrink-0 flex-lg-shrink-1"
            >
              <h4 class="fs-4 fw-bold mb-2">日本深度賞櫻計畫</h4>
              <p class="fs-14 fw-regular mb-7">
                春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。
              </p>
              <button
                type="button"
                class="btn btn-light d-flex justify-content-between rounded-pill"
              >
                <span class="fs-16 fw-bold">訂購行程</span>
                <span class="material-icons-outlined"> arrow_forward </span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden">
            <img
              src="/assets/images/index/recommend-2.png"
              class="card-img h-100"
              alt="..."
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end flex-shrink-0 flex-lg-shrink-1"
            >
              <h4 class="fs-4 fw-bold mb-2">紐西蘭雪山探險</h4>
              <p class="fs-14 fw-regular mb-7">
                探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。
              </p>
              <button
                type="button"
                class="btn btn-light d-flex justify-content-between rounded-pill"
              >
                <span class="fs-16 fw-bold">訂購行程</span>
                <span class="material-icons-outlined"> arrow_forward </span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden">
            <img
              src="/assets/images/index/recommend-3.png"
              class="card-img h-100"
              alt="..."
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end flex-shrink-0 flex-lg-shrink-1"
            >
              <h4 class="fs-4 fw-bold mb-2">摩洛哥迷幻之旅</h4>
              <p class="fs-14 fw-regular mb-7">
                漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。
              </p>
              <button
                type="button"
                class="btn btn-light d-flex justify-content-between rounded-pill"
              >
                <span class="fs-16 fw-bold">訂購行程</span>
                <span class="material-icons-outlined"> arrow_forward </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div class="choose deco-bg">
        <img
          src="/assets/images/index/deco-text.svg"
          alt="deco-bg"
          class="position-absolute deco-text d-none d-lg-block"
        />
        <section class="container py-10 py-lg-12">
          <div
            class="row flex-lg-row-reverse justify-content-between align-items-lg-center"
          >
            <div class="col-lg-4 mb-10 d-flex justify-content-lg-end">
              <div>
                <h3 class="fs-3 fs-lg-72 fw-bold text-primary mb-7">
                  ZOBAA! <br />
                  踏上旅程的 <br />第一站
                </h3>
                <p class="fs-14 fs-lg-6 fw-bold text-primary-60">
                  探索最熱門的旅遊主題， <br />從旅人必備攻略到獨家優惠，<br />
                  全都為你精挑細選。
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card mb-5 mb-lg-6">
                    <img
                      src="/assets/images/index/intro-1.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body p-7">
                      <p class="card-text"></p>
                      <h4 class="fs-6 fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                      <p>嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card mb-5 mb-lg-6">
                    <img
                      src="/assets/images/index/intro-2.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body p-7">
                      <p class="card-text"></p>
                      <h4 class="fs-6 fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                      <p>嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row offset-row">
                <div class="col-lg-6">
                  <div class="card mb-5">
                    <img
                      src="/assets/images/index/intro-3.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body p-7">
                      <p class="card-text"></p>
                      <h4 class="fs-6 fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                      <p>嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card">
                    <img
                      src="/assets/images/index/intro-4.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body p-7">
                      <p class="card-text"></p>
                      <h4 class="fs-6 fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                      <p>嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
