<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="banner">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <h2
                class="fs-16 fs-lg-6 fw-bold text-primary bg-primary-10 rounded-3 p-2 p-lg-5 d-inline-block mb-4"
              >
                ZOBAA 旅行推薦平台
              </h2>
              <h1 class="d-lg-flex fs-3 fs-lg-72 fw-bold text-primary">
                <p class="mb-1 mb-lg-7">用旅行，</p>
                <p class="mb-2">收藏世界的樣子</p>
              </h1>
              <p class="text-primary-80 fs-14 fs-lg-6 fw-bold mb-7 mb-lg-10">
                ZOBAA
                整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。
              </p>
              <div class="search-form">
                <form class="position-relative">
                  <span
                    class="material-icons-outlined position-absolute top-50 start-0 translate-middle-y ps-2 text-neutral-60"
                  >
                    search
                  </span>
                  <div class="me-2">
                    <button
                      type="button"
                      class="text-white bg-primary py-4 px-5 rounded-4 position-absolute top-50 end-0 translate-middle-y me-2"
                    >
                      開始探索旅程
                    </button>
                  </div>

                  <input
                    type="search"
                    class="form-control rounded-3 px-2 py-6 py-lg-6 ps-10"
                    id="nav-lg-search"
                    placeholder="搜尋景點、地點或城市"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="recommendation py-10">
        <div
          class="container text-white d-lg-flex justify-content-lg-between align-items-lg-center mb-10 mb-lg-11"
        >
          <h3 class="mb-7 fs-lg-72 mb-lg-0">
            你的<br />
            專屬推薦
          </h3>
          <div>
            <p class="mb-4 mb-lg-7 fs-14 fs-lg-6 fw-bold">
              來看我們的精選推薦行程，滿意度高達 99.2%<br />
              給自己一個難忘的旅遊行程吧！
            </p>
            <a href="#" class="fs-14 fs-lg-16 fw-bold"
              >查看全部行程<span
                class="material-icons-outlined align-bottom ms-2"
              >
                arrow_forward
              </span></a
            >
          </div>
        </div>
        <div class="container d-flex gap-5 overflow-x-auto">
          <div class="card text-bg-dark rounded-5 overflow-hidden">
            <img
              src="/assets/images/index/recommend.png"
              class="card-img h-100"
              alt="recommend"
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end flex-shrink-0 flex-lg-shrink-1"
            >
              <h4 class="fs-4 fw-bold mb-2">峇里島渡假漫遊</h4>
              <p class="fs-14 fw-regular mb-7">
                精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
              </p>
              <button
                type="button"
                class="btn btn-light d-flex justify-content-between rounded-pill"
              >
                <span class="fs-16 fw-bold">訂購行程</span>
                <span class="material-icons-outlined"> arrow_forward </span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden">
            <img
              src="/assets/images/index/recommend-1.png"
              class="card-img h-100"
              alt="..."
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end flex-shrink-0 flex-lg-shrink-1"
            >
              <h4 class="fs-4 fw-bold mb-2">日本深度賞櫻計畫</h4>
              <p class="fs-14 fw-regular mb-7">
                春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。
              </p>
              <button
                type="button"
                class="btn btn-light d-flex justify-content-between rounded-pill"
              >
                <span class="fs-16 fw-bold">訂購行程</span>
                <span class="material-icons-outlined"> arrow_forward </span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden">
            <img
              src="/assets/images/index/recommend-2.png"
              class="card-img h-100"
              alt="..."
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end flex-shrink-0 flex-lg-shrink-1"
            >
              <h4 class="fs-4 fw-bold mb-2">紐西蘭雪山探險</h4>
              <p class="fs-14 fw-regular mb-7">
                探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。
              </p>
              <button
                type="button"
                class="btn btn-light d-flex justify-content-between rounded-pill"
              >
                <span class="fs-16 fw-bold">訂購行程</span>
                <span class="material-icons-outlined"> arrow_forward </span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-5 overflow-hidden">
            <img
              src="/assets/images/index/recommend-3.png"
              class="card-img h-100"
              alt="..."
            />
            <div
              class="card-img-overlay d-flex flex-column justify-content-end flex-shrink-0 flex-lg-shrink-1"
            >
              <h4 class="fs-4 fw-bold mb-2">摩洛哥迷幻之旅</h4>
              <p class="fs-14 fw-regular mb-7">
                漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。
              </p>
              <button
                type="button"
                class="btn btn-light d-flex justify-content-between rounded-pill"
              >
                <span class="fs-16 fw-bold">訂購行程</span>
                <span class="material-icons-outlined"> arrow_forward </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div class="choose deco-bg">
        <img
          src="/assets/images/index/deco-text.svg"
          alt="deco-bg"
          class="position-absolute deco-text d-none d-lg-block"
        />
        <section class="container py-10 py-lg-12">
          <div
            class="row flex-lg-row-reverse justify-content-between align-items-lg-center"
          >
            <div class="col-lg-4 mb-10 d-flex justify-content-lg-end">
              <div>
                <h3 class="fs-3 fs-lg-72 fw-bold text-primary mb-7">
                  ZOBAA! <br />
                  踏上旅程的 <br />第一站
                </h3>
                <p class="fs-14 fs-lg-6 fw-bold text-primary-60">
                  探索最熱門的旅遊主題， <br />從旅人必備攻略到獨家優惠，<br />
                  全都為你精挑細選。
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card mb-5 mb-lg-6">
                    <img
                      src="/assets/images/index/intro-1.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body p-7">
                      <p class="card-text"></p>
                      <h4 class="fs-6 fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                      <p>嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card mb-5 mb-lg-6">
                    <img
                      src="/assets/images/index/intro-2.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body p-7">
                      <p class="card-text"></p>
                      <h4 class="fs-6 fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                      <p>嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row offset-row">
                <div class="col-lg-6">
                  <div class="card mb-5">
                    <img
                      src="/assets/images/index/intro-3.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body p-7">
                      <p class="card-text"></p>
                      <h4 class="fs-6 fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                      <p>嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card">
                    <img
                      src="/assets/images/index/intro-4.png"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body p-7">
                      <p class="card-text"></p>
                      <h4 class="fs-6 fw-bold mb-2">ZOBAA 專屬推薦行程</h4>
                      <p>嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="inspiration-map inspiration-map-bg">
        <div class="container position-relative py-11">
          <img
            src="/assets/images/index/deco-text-1.svg"
            alt="deco-text-1"
            class="deco-text-1"
          />
          <div class="">
            <div
              class="d-flex justify-content-lg-between align-items-lg-center"
            >
              <h3 class="fs-32 fs-lg-72 text-primary mb-7">
                <p class="mb-2">今年旅行的</p>
                <p>靈感地圖</p>
              </h3>
              <div>
                <div class="d-none d-lg-block">
                  <p
                    class="text-primary fs-14 fs-lg-6 fw-bold text-end mb-lg-7"
                  >
                    來自旅人搜尋、收藏與討論最多的目的地排行榜，<br />
                    一場風格與故事感兼具的靈感旅行，就從這裡開始。
                  </p>
                </div>
                <div class="d-flex justify-content-end d-none d-lg-block">
                  <button type="button" class="btn p-0 me-2">
                    <span
                      class="material-icons-outlined align-bottom p-lg-5 border-0 rounded bg-white"
                    >
                      arrow_back
                    </span>
                  </button>
                  <button type="button" class="btn p-0">
                    <span
                      class="material-icons-outlined align-bottom p-lg-5 border-0 rounded bg-white"
                      bg-white
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>

            <ul
              class="nav nav-pills mb-7 mb-lg-0 overflow-x-auto flex-nowrap fw-bold"
              id="pills-tab"
              role="tablist"
            >
              <li class="nav-item me-2 flex-shrink-0" role="presentation">
                <button
                  class="nav-link btn active"
                  id="all"
                  data-bs-toggle="pill"
                  data-bs-target="#all"
                  type="button"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"
                >
                  全部
                </button>
              </li>
              <li class="nav-item me-2 flex-shrink-0" role="presentation">
                <button
                  class="nav-link btn btn1"
                  id="Asia"
                  data-bs-toggle="pill"
                  data-bs-target="#tab-Asia"
                  type="button"
                  role="tab"
                  aria-controls="pills-contact"
                  aria-selected="false"
                >
                  亞洲
                </button>
              </li>
              <li class="nav-item me-2 flex-shrink-0" role="presentation">
                <button
                  class="nav-link btn btn1"
                  id="Europe"
                  data-bs-toggle="pill"
                  data-bs-target="#tab-Europe"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                >
                  歐洲
                </button>
              </li>
              <li class="nav-item me-2 flex-shrink-0" role="presentation">
                <button
                  class="nav-link btn btn1"
                  id="America"
                  data-bs-toggle="pill"
                  data-bs-target="#tab-America"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                >
                  美洲
                </button>
              </li>
              <li class="nav-item me-2 flex-shrink-0" role="presentation">
                <button
                  class="nav-link btn btn1"
                  id="Australia"
                  data-bs-toggle="pill"
                  data-bs-target="#tab-Australia"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                >
                  大洋洲
                </button>
              </li>
              <li class="nav-item me-2 flex-shrink-0" role="presentation">
                <button
                  class="nav-link btn btn1"
                  id="Africa"
                  data-bs-toggle="pill"
                  data-bs-target="#tab-Africa"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                >
                  非洲
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="tab-all"
                role="tabpanel"
                aria-labelledby="all"
                tabindex="0"
              >
                <div class="d-lg-none">
                  <p class="text-primary fs-14 fw-bold">
                    來自旅人搜尋、收藏與討論最多的目的地排行榜，<br />
                    一場風格與故事感兼具的靈感旅行，就從這裡開始。
                  </p>
                </div>
                <div class="row">
                  <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides 輪播內容放這-->

                      <div class="swiper-slide pt-10 pt-lg-11 me-lg-6 me-5">
                        <div
                          class="card map-card p-5 pe-lg-9 rounded-5 position-relative d-flex"
                        >
                          <div class="position-absolute z-1 card-number">
                            <p>1</p>
                          </div>
                          <img
                            src="/assets/images/index/map-1.png"
                            alt="map-1"
                            class="map-img rounded-4 d-block d-lg-none"
                          />
                          <div class="card-body p-0 position-relative d-flex">
                            <img
                              src="/assets/images/index/map-1.png"
                              alt="map-1"
                              class="map-lg-img rounded-4 d-lg-block d-none me-9"
                            />
                            <div>
                              <div class="mb-7 mb-lg-10">
                                <div>
                                  <span
                                    class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                    >亞洲</span
                                  >
                                  <span
                                    class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                    >日本京都</span
                                  >
                                </div>
                                <h5
                                  class="fs-3 fs-lg-1 fw-bold mb-2 text-neutral-100"
                                >
                                  走進四季交織的文化時光
                                </h5>
                                <p class="fs-14 fs-lg-16 text-neutral-80">
                                  穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                                </p>
                              </div>
                              <div
                                class="mb-7 mb-lg-10 d-lg-flex align-items-lg-center"
                              >
                                <div>
                                  <span
                                    class="badge bg-primary-10 text-primary p-2 fs-14 fs-lg-16 fw-bold mb-2 mb-lg-0 me-lg-4"
                                    >ZOBAA 建議</span
                                  >
                                </div>

                                <p class="fs-14 fs-lg-16 text-neutral-80">
                                  賞楓最佳時間是 11
                                  月中旬，推薦清水寺和南禪寺一帶🍁
                                </p>
                              </div>
                              <a
                                href="#"
                                class="btn btn-dark d-flex justify-content-between py-5 px-6 rounded-pill w-100"
                                >立即探索魅力古都
                                <span
                                  class="material-icons-outlined text-black bg-white rounded-circle align-bottom"
                                >
                                  arrow_forward
                                </span></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-7 pt-10 pt-lg-11 me-lg-6 me-5">
                        <div
                          class="swiper-slide card map-card p-5 pe-lg-9 rounded-5 position-relative d-flex"
                        >
                          <div class="position-absolute z-1 card-number">
                            <p>2</p>
                          </div>
                          <img
                            src="/assets/images/index/map-2.png"
                            alt="map-2"
                            class="map-img rounded-4 d-block d-lg-none"
                          />
                          <div class="card-body p-0 position-relative d-flex">
                            <img
                              src="/assets/images/index/map-2.png"
                              alt="map-2"
                              class="map-lg-img rounded-4 d-lg-block d-none me-9"
                            />
                            <div>
                              <div class="mb-7 mb-lg-10">
                                <div>
                                  <span
                                    class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                    >亞洲</span
                                  >
                                  <span
                                    class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                    >南韓首爾</span
                                  >
                                </div>
                                <h5
                                  class="fs-3 fs-lg-1 fw-bold mb-2 text-neutral-100"
                                >
                                  從街邊美食到韓劇場景
                                </h5>
                                <p class="fs-14 fs-lg-16 text-neutral-80">
                                  白天在弘大小巷探店，夜晚登上南山塔俯瞰整座城市的閃爍。
                                </p>
                              </div>
                              <div
                                class="mb-7 mb-lg-10 d-lg-flex align-items-lg-center"
                              >
                                <div>
                                  <span
                                    class="badge bg-primary-10 text-primary p-2 fs-14 fs-lg-16 fw-bold mb-2 mb-lg-0 me-lg-4"
                                    >ZOBAA 建議</span
                                  >
                                </div>

                                <p class="fs-14 fs-lg-16 text-neutral-80">
                                  弘大周邊週五傍晚最熱鬧，小吃與街頭藝人齊發✨
                                </p>
                              </div>
                              <a
                                href="#"
                                class="btn btn-dark d-flex justify-content-between py-5 px-6 rounded-pill w-100"
                                >感受韓系風格日常
                                <span
                                  class="material-icons-outlined text-black bg-white rounded-circle align-bottom"
                                >
                                  arrow_forward
                                </span></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-7 pt-10 pt-lg-11 me-lg-6 me-5">
                        <div
                          class="swiper-slide card map-card p-5 pe-lg-9 rounded-5 position-relative d-flex"
                        >
                          <div class="position-absolute z-1 card-number">
                            <p>3</p>
                          </div>
                          <img
                            src="/assets/images/index/map-3.png"
                            alt="map-3"
                            class="map-img rounded-4 d-block d-lg-none"
                          />
                          <div class="card-body p-0 position-relative d-flex">
                            <img
                              src="/assets/images/index/map-3.png"
                              alt="map-3"
                              class="map-lg-img rounded-4 d-lg-block d-none me-9"
                            />
                            <div>
                              <div class="mb-7 mb-lg-10">
                                <div>
                                  <span
                                    class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                    >歐洲</span
                                  >
                                  <span
                                    class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                    >法國巴黎</span
                                  >
                                </div>
                                <h5
                                  class="fs-3 fs-lg-1 fw-bold mb-2 text-neutral-100"
                                >
                                  在藝術與咖啡香中迷路
                                </h5>
                                <p class="fs-14 fs-lg-16 text-neutral-80">
                                  穿梭左岸書店與畫廊，任由麵包香與建築細節擁抱你的步伐。
                                </p>
                              </div>
                              <div
                                class="mb-7 mb-lg-10 d-lg-flex align-items-lg-center"
                              >
                                <div>
                                  <span
                                    class="badge bg-primary-10 text-primary p-2 fs-14 fs-lg-16 fw-bold mb-2 mb-lg-0 me-lg-4"
                                    >ZOBAA 建議</span
                                  >
                                </div>

                                <p class="fs-14 fs-lg-16 text-neutral-80">
                                  走進瑪黑區，最容易與巴黎風格不期而遇 ☕️
                                </p>
                              </div>
                              <a
                                href="#"
                                class="btn btn-dark d-flex justify-content-between py-5 px-6 rounded-pill w-100"
                                >立即探索魅力古都
                                <span
                                  class="material-icons-outlined text-black bg-white rounded-circle align-bottom"
                                >
                                  arrow_forward
                                </span></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- <div class="swiper-slide pt-10 pt-lg-11">
                        <div
                          class="card map-card p-5 rounded-5 position-relative"
                        >
                          <span class="position-absolute z-1 card-number"
                            >1</span
                          >
                          <img
                            src="/assets/images/index/map-1.png"
                            alt="map-1"
                            class="map-img rounded-4"
                          />
                          <div class="card-body p-0 position-relative">
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >亞洲</span
                                >
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >日本京都</span
                                >
                              </div>
                              <h5
                                class="fs-3 fs-lg-1 fw-bold mb-2 text-neutral-100"
                              >
                                走進四季交織的文化時光
                              </h5>
                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                              </p>
                            </div>
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary p-2 fs-14 fs-lg-16 fw-bold mb-2 mb-lg-0 me-lg-4"
                                  >ZOBAA 建議</span
                                >
                              </div>

                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                賞楓最佳時間是 11
                                月中旬，推薦清水寺和南禪寺一帶🍁
                              </p>
                            </div>
                            <a
                              href="#"
                              class="btn btn-dark d-flex justify-content-between py-5 px-6 rounded-pill w-100"
                              >立即探索魅力古都
                              <span
                                class="material-icons-outlined text-black bg-white rounded-circle align-bottom"
                              >
                                arrow_forward
                              </span></a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide pt-10 pt-lg-11">
                        <div class="card map-card p-5 rounded-5">
                          <span class="position-absolute z-1 card-number"
                            >2</span
                          >
                          <img
                            src="/assets/images/index/map-2.png"
                            alt="map-1"
                            class="map-img rounded-4"
                          />
                          <div class="card-body p-0 position-relative">
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >亞洲</span
                                >
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >南韓首爾</span
                                >
                              </div>
                              <h5
                                class="fs-3 fs-lg-1 fw-bold mb-2 text-neutral-100"
                              >
                                從街邊美食到韓劇場景
                              </h5>
                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                白天在弘大小巷探店，夜晚登上南山塔俯瞰整座城市的閃爍。
                              </p>
                            </div>
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary p-2 fs-14 fs-lg-16 fw-bold mb-2 mb-lg-0 me-lg-4"
                                  >ZOBAA 建議</span
                                >
                              </div>

                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                賞楓最佳時間是 11
                                弘大周邊週五傍晚最熱鬧，小吃與街頭藝人齊發✨
                              </p>
                            </div>
                            <a
                              href="#"
                              class="btn btn-dark d-flex justify-content-between py-5 px-6 rounded-pill w-100"
                              >感受韓系風格日常
                              <span
                                class="material-icons-outlined text-black bg-white rounded-circle align-bottom"
                              >
                                arrow_forward
                              </span></a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide pt-10 pt-lg-11">
                        <div class="card map-card p-5 rounded-5">
                          <span class="position-absolute z-1 card-number"
                            >3</span
                          >
                          <img
                            src="/assets/images/index/map-3.png"
                            alt="map-1"
                            class="map-img rounded-4"
                          />
                          <div class="card-body p-0 position-relative">
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >歐洲</span
                                >
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >法國巴黎</span
                                >
                              </div>
                              <h5
                                class="fs-3 fs-lg-1 fw-bold mb-2 text-neutral-100"
                              >
                                在藝術與咖啡香中迷路
                              </h5>
                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                穿梭左岸書店與畫廊，任由麵包香與建築細節擁抱你的步伐。
                              </p>
                            </div>
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary p-2 fs-14 fs-lg-16 fw-bold mb-2 mb-lg-0 me-lg-4"
                                  >ZOBAA 建議</span
                                >
                              </div>

                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                走進瑪黑區，最容易與巴黎風格不期而遇 ☕️
                              </p>
                            </div>
                            <a
                              href="#"
                              class="btn btn-dark d-flex justify-content-between py-5 px-6 rounded-pill w-100"
                              >立即探索魅力古都
                              <span
                                class="material-icons-outlined text-black bg-white rounded-circle align-bottom"
                              >
                                arrow_forward
                              </span></a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide pt-10 pt-lg-11">
                        <div class="card map-card p-5 rounded-5">
                          <span class="position-absolute z-1 card-number"
                            >4</span
                          >
                          <img
                            src="/assets/images/index/map-4.png"
                            alt="map-1"
                            class="map-img rounded-4"
                          />
                          <div class="card-body p-0 position-relative">
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >大洋洲</span
                                >
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >澳洲雪梨</span
                                >
                              </div>
                              <h5
                                class="fs-3 fs-lg-1 fw-bold mb-2 text-neutral-100"
                              >
                                城市與大自然的交會
                              </h5>
                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                清晨在海灘做瑜珈，午後漫步歌劇院，享受城市的節奏與野性的呼喚。
                              </p>
                            </div>
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary p-2 fs-14 fs-lg-16 fw-bold mb-2 mb-lg-0 me-lg-4"
                                  >ZOBAA 建議</span
                                >
                              </div>

                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                別錯過傍晚在雪梨港看日落＋欣賞歌劇院夜燈 ✨
                              </p>
                            </div>
                            <a
                              href="#"
                              class="btn btn-dark d-flex justify-content-between py-5 px-6 rounded-pill w-100"
                              >立即探索魅力古都
                              <span
                                class="material-icons-outlined text-black bg-white rounded-circle align-bottom"
                              >
                                arrow_forward
                              </span></a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide pt-10 pt-lg-11">
                        <div class="card map-card p-5 rounded-5">
                          <span class="position-absolute z-1 card-number"
                            >5</span
                          >
                          <img
                            src="/assets/images/index/map-5.png"
                            alt="map-5"
                            class="map-img rounded-4"
                          />
                          <div class="card-body p-0 position-relative">
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >非洲</span
                                >
                                <span
                                  class="badge bg-primary-10 text-primary px-5 py-2 fs-14 fw-bold rounded-3 my-2 me-2 m-lg-0 mb-lg-2"
                                  >埃及開羅</span
                                >
                              </div>
                              <h5
                                class="fs-3 fs-lg-1 fw-bold mb-2 text-neutral-100"
                              >
                                穿越千年時光的沙漠冒險
                              </h5>
                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                乘著駱駝走過古老遺跡，抬頭仰望太陽神的光芒，在歷史與傳說之間迷失。
                              </p>
                            </div>
                            <div class="mb-7">
                              <div>
                                <span
                                  class="badge bg-primary-10 text-primary p-2 fs-14 fs-lg-16 fw-bold mb-2 mb-lg-0 me-lg-4"
                                  >ZOBAA 建議</span
                                >
                              </div>

                              <p class="fs-14 fs-lg-16 text-neutral-80">
                                建議早上 8 點前到吉薩金字塔，避開人潮與烈日 ☀️
                              </p>
                            </div>
                            <a
                              href="#"
                              class="btn btn-dark d-flex justify-content-between py-5 px-6 rounded-pill w-100"
                              >立即探索魅力古都
                              <span
                                class="material-icons-outlined text-black bg-white rounded-circle align-bottom"
                              >
                                arrow_forward
                              </span></a
                            >
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="tab-Asia"
                role="tabpanel"
                aria-labelledby="Asia"
                tabindex="0"
              >
                Asia
              </div>
              <div
                class="tab-pane fade"
                id="tab-Europe"
                role="tabpanel"
                aria-labelledby="Europe"
                tabindex="0"
              >
                Europe
              </div>

              <div
                class="tab-pane fade"
                id="tab-America"
                role="tabpanel"
                aria-labelledby="America"
                tabindex="0"
              >
                America
              </div>
              <div
                class="tab-pane fade"
                id="tab-Australia"
                role="tabpanel"
                aria-labelledby="Australia"
                tabindex="0"
              >
                Australia
              </div>
              <div
                class="tab-pane fade"
                id="tab-Africa"
                role="tabpanel"
                aria-labelledby="Africa"
                tabindex="0"
              >
                Africa
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
